.site-first-color {
background: #136487;
}

.site-second-color {
background: #A22828;
color: #ffffff;
}

.navbar {
background-color: #1d6486 !important;
}

.navbar-brand .logo {
max-width: 100px;
}

#navbarNav {
    justify-content: space-between;
}

.login-form {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.sticky-btn {
    position: fixed;
    right: 15px;
    bottom: 30px;
    border-radius: 50px;
}

.cuenta-container, .prestamo-container, .tarjeta-container {
    border: 2px solid cadetblue;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.cheque-container {
    border: 3px solid indianred;
    border-radius: 15px;
    padding: 10px;
    line-height: 10px;
}

