<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.wilmertorres.com">

<head th:replace="fragments/general.html :: headerfiles"></head>
<body>
<nav th:replace="fragments/general.html :: header"></nav>

<main role="main" class="container">
    <div id="login-section" class="row pt-5 pb-3">
        <div class="col-12">
            <form>
                <div class="form-group">
                    <label for="email">Usuario / Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <a>Olvido su contraseña?</a>
                <button onclick="login()">Ingresar</button>
            </form>
        </div>
    </div>
</main>
<!-- /.container -->
</body>
<div th:replace="fragments/general.html :: footer"></div>
</html>