<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.wilmertorres.com">

<head th:replace="fragments/general.html :: headerfiles"></head>
<body>
<nav th:replace="fragments/general.html :: header"></nav>

<main role="main" class="container">
    <div id="login-section" class="row pt-5 pb-3">
        <div class="col-12">
            <div class="login-form form">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="last-name">Apellidos</label>
                    <input type="text" class="form-control" id="last-name" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="address">Dirección</label>
                    <input type="text" class="form-control" id="address" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="phone">Telefono</label>
                    <input type="text" class="form-control" id="phone" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="bank">Banco</label>
                    <select class="form-control" id="bank">
                        <option value="1">Banrural</option>
                        <option value="2">Banco Industrial</option>
                        <option value="3">GYT</option>
                        <option value="4">BAM</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button class="btn btn-primary mt-3 mb-5" onclick="register()">Registrar</button>

                <a href="/register" class="btn btn-secondary d-block">Iniciar sesion</a>
            </div>
        </div>
    </div>
</main>
<!-- /.container -->
</body>
<div th:replace="fragments/general.html :: footer"></div>
</html>